*{
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}ul{
    list-style-type: none;
}
body{
    margin:0;
    padding:0;
    background-color: #f6f7f9;
    main{
margin:auto;
    }
}